
html{overflow: -moz-scrollbars-vertical;}

body{background:url(../images/page_bg.gif) 0px 0px repeat !important;}

footer{border: none !important;}
footer span, footer a, footer a:hover{color: #ffffcc;}

a{outline: none !important; -moz-outline-style: none !important;}
*{outline:none;}

.form input, .form select, .form textarea
{
	font-size:11px !important;
	color:#666666 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	width:93% !important;
	margin-right:5px;
}

.form textarea
{
	width:96% !important;
	resize: none; 
}

.form input[type="button"], .form input[type="submit"], .form input[type="reset"]
{width:auto !important; margin-left:8px !important; margin-right:0px !important;}

.navbar{margin-bottom:0px !important;}

.container-fluid
{
	margin:0px auto !important;
	margin-top:40px !important;
	width:911px !important;
	padding:0px !important;
	background:url(images/container-tile.gif) 0px 0px repeat-y #ffffff !important;
}

.section-left
{
		float:left !important;
		width:100% !important;
		display:table;
		margin:0px 0px 10px 0px !important;
		background:url(images/container-top.png) 0px 0px no-repeat transparent !important;
}

.section-right, .ui-tabs, .ui-tabs-panel
{
	float:left !important;

	border-top: 3px solid #1871b5 !important;
}



.ui-tabs{padding-left:0px !important;}

.section-right
{
	float:right !important;
	width:270px !important;
	margin:0px 15px 10px 0px !important;
	display: none !important;
}

.ui-tabs, .ui-widget-header
{
	background:none !important;
	border:none !important;
	-moz-border-radius:none !important;
	border-radius:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}

.ui-tabs .ui-tabs-nav
{
	padding:0px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
	border:none !important;
	background-color: #f9f8f8 !important;
	background-image: none !important;
	font-weight: normal !important;
}

.ui-tabs .ui-tabs-nav li
{
	float: none !important;
}

.ui-helper-reset
{
	font-size:12px;
}

.ui-tabs-panel
{

	-moz-border-radius:0px !important;
	border-radius:0px !important;
}

.profile-user-thumb, .profile-info-visible
{
	float:left;
	display:block;
	margin-right:10px;
}

#personProfileContent .profile-info-visible, .profile-user-thumb{margin-left: 10px !important; margin-top: 10px !important;}

.profile-info-visible
{
	clear:right;
}

.separator
{
	float:left;
	width:100%;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #fdfdfd;
	margin: 5px 0px;
}

.btn, input.btn
{
	font-size:10px !important;
	font-weight:bold;
	line-height:normal !important;
	padding:1px 5px !important;
	float:none !important;
	margin:0px 6px 0px 4px !important;
	color:#fff !important;
}
.btn a
{color:#fff !important;}

h2
{
	font-size: 36px !important;
	font-family: 'Dosis', serif !important;
	font-weight:normal !important;
	line-height:36px !important;
	color:#006699 !important;
	margin:0px 0px 5px 0px !important;
}


h3
{
	line-height:normal !important;
	font-family: 'Dosis', serif !important;
	font-size: 14px !important;
	font-weight:bold !important;
	color:#1871b5 !important;
	margin-bottom:0px !important;
	
}

h3 em
{	
	margin-right:10px !important;
	font-style: normal !important;
}

h3{margin-bottom:8px !important;}

.profile-info-visible ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.profile-info-visible ul li
{
	margin: 0px;
	padding: 0px;
	clear:both;
	margin-bottom:8px !important;
	color:#333333;
	white-space: normal !important;
	font-size:11px !important;
	font-weight:normal !important;
	line-height: 14px !important;
	display:table;
}

#personProfileContent .profile-info-visible ul li{margin-bottom:3px !important;}

.profile-info-visible ul li.special
{
	color:#1871b5 !important;
	font-size: 14px !important;
	font-weight: bold !important;
}

.profile-info-visible span
{
	color:#1871b5 !important;
	margin-right:5px;
}


.icon
{
	background:url(images/icons.png) 0px 0px no-repeat transparent;
	padding-left:15px !important;
}

.social-media{float:right; margin:20px 60px 7px 7px;}
.social-media a{float:left !important; display:block !important; border: none !important; margin-right:7px;}

.social-media a img.icon
{
	background:url(images/icon-sm.png) 0px 0px no-repeat transparent !important;
	height:16px !important;
	width:16px !important;
	padding:0px !important;
	float:left !important;
}
.icon.birth{background-position: 0px -24px;}
.icon.anniversary{background-position: 0px -36px;}
.icon.email{background-position: 0px -60px;}
.icon.im{background-position: 0px -72px;}
.icon.number{background-position: 0px -48px;}
.icon.address{background-position: 0px -12px;}

.social-media img.icon.facebook{background-position: 0px 0px !important;}
.social-media img.icon.linkedin{background-position: 0px -16px !important;}
.social-media img.icon.yahoo{background-position: 0px -32px !important;}
.social-media img.icon.google{background-position: 0px -48px!important;}
.social-media img.icon.twitter{background-position: 0px -64px !important;}

.form label
{
	color:#006699;
	font-weight: bold;
	font-size:11px;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
{
	color:#000000 !important;
	font-size: 18px !important;
	font-family: 'Dosis', serif !important;
	background-color: transparent !important;
}

.ui-tabs
{padding: 0px !important; position: inherit !important;}


#tabs, #tabs1
{
	width:570px !important;
	margin:0px 20px 15px 0px !important;
	float:right !important;
	clear: right !important;
}

#tabs2, #tabs3
{
	width:270px !important;
	float:left !important;
	margin:0px 50px 15px 0px !important;
	clear: left !important;
}

#tabs .ui-tabs-panel, #tabs1 .ui-tabs-panel, #tabs.ui-tabs .ui-tabs-nav li a, #tabs1.ui-tabs .ui-tabs-nav li a
{
	width:520px !important;
	float: left !important;
	padding-left: 1px;
}
#tabs2 .ui-tabs-panel, #tabs3 .ui-tabs-panel, #ui-tab-common .ui-tabs-panel

{
	padding:10px 2px 10px 13px !important;
	width:255px !important;
}
#tabs2 .ui-tabs-nav li a, #tabs3 .ui-tabs-nav li a, #ui-tab-common .ui-tabs-nav li a
{
	padding:10px 2px 10px 13px !important;
}


/**/

#nav {
    float: right;
    font-weight: normal;
    font-size:0px;
    list-style: none outside none;
    margin: 5px 0px 0px 0px;
    padding: 0;
}
#nav ul{
    margin: 0;
    padding: 0;
    z-index:98;
}
#nav li {
    float: left;
    margin: 0px;
    padding: 0;
    position: relative;
    width:16px;
    height:16px;
    background: url("images/icon_arrow_down.gif") 0px 0px no-repeat;
}
#nav a {
    color: #333333;
    display: block;
    padding:0px 1px;
    text-decoration: none;
}
#nav a:hover {
    
}
#nav ul {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    left: -9999px;
    list-style: none outside none;
    position: absolute;
}
#nav ul li {
    float: none;
    padding: 5px 0px;
    margin: 0px 0px 1px 0px;
    font-size:10px !important;
    border-bottom: 1px dotted #1871b5 !important;
    background:none;
}
#nav ul li:hover{background: none repeat scroll 0 0 #F36010;}
#nav ul li:hover a, #nav ul li:hover a:hover{color:#ffffff !important;}
#nav ul a {
    white-space: nowrap;
}
#nav li:hover ul {
    left: 0;
    z-index:99;
    background: none repeat scroll 0 0 padding-box #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: -moz-use-text-color rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.65);
    border-right: 10px solid rgba(0, 0, 0, 0.65);
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 0 0 10px #303030;
}
#nav ul li:hover a {
    text-decoration: underline;
    color:#333333;
}
#nav li:hover ul a {
    text-decoration: none;
    background-image:none;
}
#nav li:hover ul li {
    margin:0px;
    width:120px;
    float:left;
    clear:both;
}
#nav li:hover ul li a, #nav li ul li a, #nav li ul li {line-height:20px !important;}


.website-type{width:16px; height:16px; float:left; margin:0px 3px;}
.website-type.personal{background: url("images/icon_personal.png") 0px 0px no-repeat !important;}
.website-type.office{background: url("images/icon_office.png") 0px 0px no-repeat !important;}
.website-type.blog{background: url("images/icon_blog.png") 0px 0px no-repeat !important;}
.website-type.rss{background: url("images/icon_rss.png") 50% 50% no-repeat !important;}

#nav li:hover ul 



/**/
#tabs.friendList, #tabs1.friendList, .friendList#tabs .ui-tabs-panel, .friendList#tabs1 .ui-tabs-panel, .friendList#tabs.ui-tabs .ui-tabs-nav li a, .friendList#tabs1.ui-tabs .ui-tabs-nav li a
{width: auto !important; padding: 0px !important; position: absolute;}
#tabs.friendList{width: 870px !important; margin:10px 0px 0px 10px !important; float: left !important; clear: left !important; white-space: normal !important;}
#tabs.friendList #tabs1, .friendList#tabs .ui-tabs-panel
{width: 560px !important; float: left !important; clear: right !important; margin:0px !important; top:0px !important; position: relative; z-index: 96;}
.friendList .ui-state-default, .friendList .ui-widget-content .ui-state-default, .friendList .ui-widget-header .ui-state-default
{border: none !important; margin: 0px !important;}
.friendList .ui-helper-clearfix:after{clear: none !important;}

.friendList ul:FIRST-CHILD{float:left !important; margin-right: 1px !important; margin-top:20px !important; width:258px; position: relative;}

.friendList.search-result ul:FIRST-CHILD{ margin-left:20px !important; width:auto !important; position:inherit; !important;}

.friendList ul li
{display: inherit !important;}

.friendList.ui-tabs .ui-tabs-nav li img
{
	margin: 5px 5px 0px 5px;
	border:1px solid #ffffff; 
	-moz-box-shadow: 0 0 1px #303030;
	-webkit-box-shadow: 0 0 1px #303030;
    box-shadow: 0 0 1px #303030;
}

.friendList.ui-tabs .ui-tabs-nav li
{float: left !important; clear:both !important; width:250px !important; height:65px; margin-bottom:5px !important; border-radius:5px;
background: url("images/sub_tab.gif") 0px 0px repeat-x #e2e2e2;
border: 1px solid #aeaeae !important;
position: relative;
top: 75px;
}

.friendList.search-result.ui-tabs .ui-tabs-nav li
{
clear:none !important;
position:inherit !important;
top:auto !important;
margin: 0px 20px 20px 0px !important;
}

.friendList.ui-tabs .ui-tabs-nav li.ui-state-active{
	width: 258px !important;
	border-right: none !important;
	border-radius:5px 0px 0px 5px;
	position: absolute;
	top:0px;
	z-index: 99;
	}

.friendList.ui-tabs .ui-tabs-nav li a
{padding: 5px !important;}

.friendList .profile-info-visible, .friendList .profile-user-thumb
{margin: 0px 0px 0px 0px !important;}

.friendList h2:FIRST-CHILD, .friendList a h2:FIRST-CHILD
{
	font-size:14px !important;
	font-weight:bold !important;
	line-height:normal !important;
	margin: 0px 0px 0px 0px !important;
}

.friendList h3:FIRST-CHILD
{
	font-size: 12px !important;
	font-weight:normal !important;
	color:#1871b5 !important;
}

.friendList .profile-info-visible h2
{
	font-size:24px !important;
	font-weight:bold !important;
	line-height:normal !important;
	margin: 0px 0px 0px 0px !important;
	color:#1871b5 !important;
}

.friendList.ui-tabs, .friendList .ui-tabs-panel{border: none !important;}

.friendList .profile-info-visible h3, .friendList.search-result h3
{
	font-size: 14px !important;
	font-weight:normal !important;
	color:#1871b5 !important;
}

.friendList.search-result h3
{
	width: 180px !important;
	overflow: hidden !important;
	margin-bottom: 0px !important;
}

.friendList .profile-info-visible
{padding: 6px; background: none; border: none; font-size: 12px !important; display:inherit; !important; width:auto !important;}

.friendList .ui-tabs-panel .profile-info-visible
{
	margin-top:10px !important;
	background-color: #fbfbfb;
	border-width: medium 1px 1px;
	-moz-box-shadow: 0 0 3px #303030;
	-webkit-box-shadow: 0 0 3px #303030;
    box-shadow: 0 0 3px #303030;
    border-radius: 5px;
    z-index: 97;
}

.friendList .ui-tabs-panel .profile-info-visible .profile-user-thumb{float:right !important; display: table !important;}
.friendList .profile-info-visible:FIRST-CHILD
{padding: 6px; font-size: 12px !important; display: table !important; width:100% !important;}

.friendList .profile-info-visible:FIRST-CHILD img
{
	margin-top: 6px;
	border:3px solid #ffffff; 
	-moz-box-shadow: 0 0 1px #303030;
	-webkit-box-shadow: 0 0 1px #303030;
    box-shadow: 0 0 1px #303030;
    }

.friendList .profile-info-visible span
{clear: both !important; font-size: 12px !important; font-weight: bold !important;}

.friendList .profile-info-visible{}

h3 a.link{font-size: 11px !important; color: #1871B5 !important; float: right !important; font-weight: normal !important;}

#ui-tab-common .profile-info-visible{margin-right:0px !important;}
#ui-tab-common h3{width:255px !important;}
.search{position: absolute; top: 7px; right: 310px;
	width:250px;
	height:27px;
	border:1px solid #333;
	border-radius:5px;
	-moz-box-shadow: 0 0 1px #303030;
	-webkit-box-shadow: 0 0 1px #303030;
    box-shadow: 0 0 1px #303030;
    background: url("images/icon_search.png") 225px 5px no-repeat #fff;
}

.search input[type='text']{border: none;}

/* 20- november 2012 --- changes*/
.search .search-icon{cursor: pointer; height: 28px;  position: relative; top: -4px; width: 30px;}